
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <h2>Lista de Categorias</h2>
        <table>
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Descricao</th>
            </tr>
            @foreach (var categoria in ViewBag.CategoriasDeProdutos)
            {
            <tr>
                <td>@categoria.Id</td>
                <td>@categoria.Nome</td>
                <td>@categoria.Descricao</td>
            </tr>
            }
        </table>
    </div>
</body>
</html>
