
<form action="/Login/Autentica" method="post">
    <label for="login">Login:</label>
    <input class="form-control" type="text" name="login" id="login" />

    <label for="senha">Senha:</label>
    <input class="form-control" type="password" name="senha" id="senha" />

    <br />
    <input class="btn btn-primary" type="submit" value="Autenticar" />
</form>
